[type="text"],[type="password"]{
    border-radius: 3px;
    line-height: 1px;
    }
[type="text"]:focus,[type="password"]:focus,textarea:focus,select:focus{
    background-color: #fefefe;
    border: 1px solid #8a8a8a;
    box-shadow: 0 0 5px #1E90FF;
    outline: medium none;
    transition: box-shadow 0.5s ease 0s, border-color 0.25s ease-in-out 0s;
}
select{
    font-size: small;
}
select,[type="text"],[type="password"],textarea{
    color: #777777;
    font-size: small;
}
.button.my-secondary {
    background-color: #01aef0;
    color: #F8F8F8; }
.button.my-secondary:hover, .button.my-secondary:focus {
    background-color:   #3398ea;
    color: #F8F8F8; }
.close-button, .close-button.medium {
    font-size: 1em;
    line-height: 1;
    right: 1rem;
    top: 0.5rem;
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #1779ba transparent transparent;
    border-image: none;
    border-style: solid inset inset;
    border-width: 4px 4px 0;
    content: "";
    display: block;
    height: 0;
    left: 1rem;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 0;
}
td {
    border: solid 1px #D8DEE2;
    color: #555555;
    font-size: 12px;
}
input:checked ~ .switch-paddle {
    background: #d9534f none repeat scroll 0 0;
}
.button-load {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

.tooltip {
    position: absolute;
    top: calc(100% + 0.6495rem);
    z-index: 1200;
    max-width: 10rem;
    padding: 0.75rem;
    border-radius: 0px;
    background-color:#E6E6E6;
    font-size: 80%;
    color: #333;
}
.has-tip {
    position: relative;
    display: inline-block;
    border-bottom: dotted 1px #E6E6E6;
    font-weight: bold;
    cursor: pointer; }
.tooltip.left::before {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #E6E6E6;
    left: 100%; }

.my-thead{
    background-color: #E6E6E6;
    color: #5e5e5e;
    border:solid 1px #D8DEE2;
}
.tooltip.top::before {
    display: block;
    width: 0;
    height: 0;
    border: inset 0.75rem;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #E6E6E6 transparent transparent;
    top: 100%;
    bottom: auto; }
/*login form*/
.my-callout{
    /*border-top: solid 1.7px #D8DEE2;*/
    border-top: solid 1.7px #D8DEE2;
    border-bottom: solid 1.7px #D8DEE2;
    border-left: solid 0.2px #D8DEE2;
    border-right: solid 1.1px #D8DEE2;
    padding: 20px;
}
.login-logo-mrg{
    margin-right: 77%;
}
.login-el-center{
    margin:auto;
}
.panel-heading{
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top: solid 1.7px #D8DEE2;
    border-left: solid 0.2px #D8DEE2;
    border-right: solid 1.1px #D8DEE2;
    padding: 10px;
}
.login-bgcolor{
    background-color: #F9F9F9;
}
.login-alert{
   font-size:small;
}
.login-txt{
    color: #808080;
}
.small-font{
    font-size: smaller;
}
.footer-bg {
    color: #9b9b9b;
}
.footer-txt-size{
    color: #9b9b9b;
    font-size: 0.65em;
    text-align: center;
    margin: auto;
}
.footer-menu{
    color: #9b9b9b;
}
.ul-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    }
/*login form End*/

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-30 { font-size: 30px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

.fi-bell{
    background-image: url("../pic/bell-icon.svg");
}
.top-menu-color{
    background-color: #F8F8F8;
    border-bottom: solid 1.7px #D8DEE2;"
}
.my-custom-color{
    background-color: #F8F8F8;
}
.top-bar, .top-bar ul {
    background-color: #f8f8f8;
}
.white-color{
    background-color: #FFFFFF;
}
.border-btm-line{
    color: #808080;
    border-bottom: solid 1.1px #D8DEE2;
    font-size: small;
    text-align: justify;
}
.message-time{
    font-size: x-small;
}
.btn-for-load{
    width: 75px;
    height: 40px;
}
.border-left-line{
    border-left:solid 1.7px #D8DEE2;
    height: 100%;
}
.border-left-line{
    border-left:solid 1.7px #D8DEE2;
}
.border-btm-line{
    border-bottom:solid 1.7px #D8DEE2;
}
.black-color{
    color: #333;
}
.active-menu{
    background-color: #EEEEEE;
}
.master-right-menu{
    padding: 1.7px;
}
.right-menu-btm-border {
    border-bottom: solid 1px #D8DEE2;
    padding: 30px 15px 30px 0px;
    line-height: 2;
}

.menu ul li a:hover{
    background-color:#EEEEEE;
}
.dropdown.menu > li.opens-left > .is-dropdown-submenu {
    top: 120%;
}
.my-grid-margin{
    margin-top: 10px;
}
.right-mp{
    padding: 20px 15px 20px 0px;
}
.notification-panel{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.panel-primary {
    border-color: #337ab7;
}
.panel-red{
    border-color: #d9534f;
}
.panel-yellow{
    border-color: #f0ad4e;
}
.panel-primary > .panel-heading {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}
.panel-red > .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: white;
}
.panel-yellow > .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: white;
}
.panel-green > .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
}

.panel-footer {
    background-color: #f5f5f5;
    padding: 10px 15px;
}

.panel-footer-red{
    border: solid 1px #d9534f;
}
.btn-red{
    color: #d9534f;
}
.btn-red a{
    color: #d9534f;
}
.btn-red a:hover{
    color: #bd314d;
}
.btn-yellow{
    color:#f0ad4e;
}
.btn-yellow a{
    color:#f0ad4e;
}
.btn-yellow a:hover{
    color: #df9a67;
}
.btn-green{
    color:#5cb85c;
}
.btn-green a{
    color:#5cb85c;
}
.btn-green a:hover{
    color: #939842;
}
.btn-primary{
    color:#337ab7;
}
.btn-primary a{
    color:#2361a9;
}
.btn-primary a:hover{
    color: #4A578E;
}
.panel-footer-yellow{
    border: solid 1px #f0ad4e;
}
.panel-footer-green{
    border: solid 1px #5cb85c;
}
.panel-footer-primary{
    border: solid 1px #337ab7;
}
.dropdown-pane-sm {
    width: 150px;
    padding: 0;
}
.non-padding{
    padding: 0;
}
.my-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sm-btn-align{
    margin-top: 2px;
    margin-bottom: 1px;
}
.my-menu li{
    background-color: #ffffff;
    display: block;

}
.my-menu li a{
    color: #333333;
    padding: 10px;
    display: block;
}
.my-menu li:hover{
    background-color:#EEEEEE;

}
.dashboard-padding{
    padding: 14px;
}
.edit-pencil{
    color:#5CB85C;
}
.trash-t{
    color: #D9534F;
}
.tab-color{
    color: #7f8c8d;
}
.yellow-color{
    color: #F0AD4E;
}
.blue-color{
    color:#337AB7
}
.tab-color li a{
    color: #7f8c8d;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
    background: #E6E6E6 none repeat scroll 0 0;
    color: #333;
}
.my-calloutf{
    position: relative;
    padding: 1rem;
    border-radius: 0px;
    background-color: #F8F8F8;
    color: #0a0a0a;
}
.padding-lr{
    padding: 0 14px 0 14px;
}
.padding-lr-rep{
    padding: 0 16px 0 16px;
}
.padding-lrt{
    padding: 0 20px 0 20px;
}
.secondry-color{
    color:#01aef0;
}
.report-mrg{
    margin-bottom: -10px;
}
.error-font{
    font-weight: normal;
}
.font-wei{
    font-weight: normal;
}
.modal-margin{
    margin-top: 30px;
    margin-bottom: -15px;
}
.btn-large-w{
    width: 80px;
}
.modal-text{
    color: #808080;
    margin-top: -10px;
}
.inner-body-pad{
    padding: 30px;
}
.icon-mar{
    margin-right: 5px;
}
.docs-nav {
    border-left:solid 1.7px #D8DEE2;
    height: calc(100vh);
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 100px;
    padding-top: 1rem;
    width: 100%;
}
.docs-nav .docs-nav-category {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.table-mrg-btm{
    margin-bottom: -16px;
}
.user-menu{
    color: #333;
}
.user-menu ul li a{
    color: #333;
}
.user-menu ul li a:hover{
    color: #333;
}
.custom-btn-pos{
    margin-top: 15px;
    margin-right: 10px;
}
/*loading*/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -75px 0 0 -75px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3398EA;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}
/*Loading End*/
.bottom-mrg{
    margin-bottom: 15px;
}
.reveal-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    z-index: 1005;
    background-color: rgba(10, 10, 10, 0.4);
}
.loader-pos{
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 1;
}
.is-active-tab{
    background-color: #FFFFFF;
    border-bottom: 3px solid #d9534f;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
    background-color: #FFFFFF;
    border-bottom: 3px solid #d9534f;
    color: #333;
}